ClienteArrobaFirmaXmlBeans/src/main/resources/xsd/esquema_wsdl.xsd

   <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://afirmaws/ws/custodia" xmlns:wscustodia="http://afirmaws/ws/custodia" xmlns:xs="http://www.w3.org/2001/XMLSchema">


<!-- Definicion Elementos Simples -->


      <xs:simpleType name="CadenaSinEspacios">


	        <xs:restriction base="xs:string">


		          <xs:whiteSpace value="collapse"/>


	        </xs:restriction>


      </xs:simpleType>


      <xs:group name="IdAplicacion">


	        <xs:sequence>


		          <xs:element name="idAplicacion" type="xs:string"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="IdTransaccion">


	        <xs:sequence>


		          <xs:element minOccurs="0" name="idTransaccion" type="xs:string"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="IdDocumento">


	        <xs:sequence>


		          <xs:element name="idDocumento" type="xs:string"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="Referencia">


	        <xs:choice>


		          <xs:element name="referencia" type="xs:string"/>


		          <xs:element name="idReferencia" type="xs:string"/>


	        </xs:choice>


      </xs:group>


      <xs:group name="Documento">


	        <xs:sequence>


		          <xs:element name="documento" type="xs:base64Binary"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="BloqueFirmas">


	        <xs:sequence>


		          <xs:element name="bloqueFirmas" type="xs:base64Binary"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="FirmaElectronica">


	        <xs:sequence>


		          <xs:element name="firmaElectronica" type="xs:base64Binary"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="FormatoFirma">


	        <xs:sequence>


		          <xs:element name="formatoFirma">


			            <xs:simpleType>


				              <xs:restriction base="xs:string">


					                <xs:enumeration value="CMS"/>


					                <xs:enumeration value="CMS-T"/>


					                <xs:enumeration value="CADES-BES"/>


					                <xs:enumeration value="CADES-T"/>


					                <xs:enumeration value="ODF"/>


					                <xs:enumeration value="PDF"/>


					                <xs:enumeration value="PKCS7"/>


					                <xs:enumeration value="XADES-BES"/>


					                <xs:enumeration value="XADES-T"/>


					                <xs:enumeration value="XMLDSIG"/>


				              </xs:restriction>


			            </xs:simpleType>

		
		          </xs:element>


	        </xs:sequence>


      </xs:group>


      <xs:group name="NombreDocumento">


	        <xs:sequence>


		          <xs:element name="nombreDocumento" type="xs:string"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="TipoDocumento">


	        <xs:sequence>


		          <xs:element name="tipoDocumento" type="xs:string"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="FechaInicial">


	        <xs:sequence>


		          <xs:element name="fechaInicial" type="xs:string"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="FechaFinal">


	        <xs:sequence>


		          <xs:element name="fechaFinal" type="xs:string"/>


	        </xs:sequence>


      </xs:group>


      <xs:group name="IdTransacciones">


	        <xs:sequence>


		          <xs:element name="idTransacciones">


			            <xs:complexType>


				              <xs:group maxOccurs="unbounded" minOccurs="0" ref="wscustodia:IdTransaccion"/>


			            </xs:complexType>


		          </xs:element>


	        </xs:sequence>


      </xs:group>


      <xs:group name="resultadoGeneral">


	        <xs:sequence>


		          <xs:element name="estado" type="xs:boolean"/>


		          <xs:element minOccurs="0" name="descripcion" type="xs:string"/>


	        </xs:sequence>


      </xs:group>


      <xs:element name="Excepcion">


	        <xs:complexType>


		          <xs:sequence>


			            <xs:element name="codigoError" type="xs:string"/>


			            <xs:element name="descripcion" type="xs:string"/>


			            <xs:element minOccurs="0" name="excepcionAsociada" type="xs:string"/>


		          </xs:sequence>


	        </xs:complexType>


      </xs:element>


<!-- PETICION  -->


<!-- Elemento raiz -->


      <xs:element name="mensajeEntrada">


	        <xs:complexType>


		          <xs:sequence>


			            <xs:element name="peticion">


				              <xs:simpleType>


					                <xs:restriction base="wscustodia:CadenaSinEspacios">


						                  <xs:enumeration value="AlmacenarDocumento"/>


						                  <xs:enumeration value="EliminarContenidoDocumento"/>


						                  <xs:enumeration value="ActualizarReferencia"/>


						                  <xs:enumeration value="ObtenerTransaccionesPorFecha"/>


						                  <xs:enumeration value="ObtenerTransacciones"/>


						                  <xs:enumeration value="ObtenerIdDocumento"/>


						                  <xs:enumeration value="ObtenerFirmaTransaccion"/>


						                  <xs:enumeration value="ObtenerContenidoDocumento"/>


						                  <xs:enumeration value="ObtenerBloqueFirmas"/>


						                  <xs:enumeration value="ObtenerTransaccionesReferencia"/>


						                  <xs:enumeration value="ObtenerContenidoDocumentoId"/>


					                </xs:restriction>


				              </xs:simpleType>


			            </xs:element>


			            <xs:element name="versionMsg" type="xs:string"/>


			            <xs:element name="parametros">


				              <xs:complexType>


					                <xs:sequence>


						                  <xs:group ref="wscustodia:IdAplicacion"/>


						                  <xs:group minOccurs="0" ref="wscustodia:IdTransaccion"/>


						                  <xs:choice minOccurs="0">


							                    <xs:sequence>


								                      <xs:group ref="wscustodia:Documento"/>


								                      <xs:group ref="wscustodia:NombreDocumento"/>


								                      <xs:group ref="wscustodia:TipoDocumento"/>


							                    </xs:sequence>


							                    <xs:sequence>


								                      <xs:group ref="wscustodia:IdDocumento"/>


							                    </xs:sequence>


							                    <xs:sequence>


								                      <xs:group ref="wscustodia:Referencia"/>


							                    </xs:sequence>


							                    <xs:sequence>


								                      <xs:group ref="wscustodia:FechaInicial"/>


								                      <xs:group ref="wscustodia:FechaFinal"/>


							                    </xs:sequence>


						                  </xs:choice>


					                </xs:sequence>


				              </xs:complexType>


			            </xs:element>


		          </xs:sequence>


	        </xs:complexType>


      </xs:element>


<!-- RESULTADO  -->


<!-- Elemento raiz -->


    <xs:element name="mensajeSalida">


       <xs:complexType>


          <xs:sequence>


	            <xs:element name="peticion">


		              <xs:simpleType>


			                <xs:restriction base="wscustodia:CadenaSinEspacios">


				                  <xs:enumeration value="AlmacenarDocumento"/>


				                  <xs:enumeration value="EliminarContenidoDocumento"/>


				                  <xs:enumeration value="ActualizarReferencia"/>


				                  <xs:enumeration value="ObtenerTransaccionesPorFecha"/>


				                  <xs:enumeration value="ObtenerTransacciones"/>


				                  <xs:enumeration value="ObtenerIdDocumento"/>


				                  <xs:enumeration value="ObtenerFirmaTransaccion"/>


				                  <xs:enumeration value="ObtenerContenidoDocumento"/>


				                  <xs:enumeration value="ObtenerBloqueFirmas"/>


				                  <xs:enumeration value="ObtenerTransaccionesReferencia"/>


				                  <xs:enumeration value="ObtenerContenidoDocumentoId"/>


			                </xs:restriction>


		              </xs:simpleType>


	            </xs:element>


	            <xs:element name="versionMsg" type="xs:string"/>


	            <xs:element name="respuesta">


		              <xs:complexType>


			                <xs:choice>


				                  <xs:element name="Respuesta">


					                    <xs:complexType>


						                      <xs:choice>


							                        <xs:sequence>


								                          <xs:group ref="wscustodia:resultadoGeneral"/>


								                          <xs:choice minOccurs="0">


									                            <xs:sequence>


										                              <xs:group ref="wscustodia:IdTransacciones"/>


									                            </xs:sequence>


									                            <xs:sequence>


										                              <xs:group ref="wscustodia:FirmaElectronica"/>


										                              <xs:group ref="wscustodia:FormatoFirma"/>


									                            </xs:sequence>


									                            <xs:sequence>


										                              <xs:group ref="wscustodia:IdDocumento"/>


									                            </xs:sequence>


									                            <xs:sequence>


										                              <xs:group ref="wscustodia:Documento"/>


									                            </xs:sequence>


									                            <xs:sequence>


										                              <xs:group ref="wscustodia:BloqueFirmas"/>


									                            </xs:sequence>


								                          </xs:choice>


							                        </xs:sequence>


						                      </xs:choice>


					                    </xs:complexType>


				                  </xs:element>


				                  <xs:element ref="wscustodia:Excepcion"/>


			                </xs:choice>


		              </xs:complexType>


	            </xs:element>


          </xs:sequence>


       </xs:complexType>


    </xs:element>


 </xs:schema>