ClienteArrobaFirmaImpl/src/main/resources/obtenerDocument.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://afirmaws/services/ObtenerIdDocumento" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://afirmaws/services/ObtenerIdDocumento" xmlns:intf="http://afirmaws/services/ObtenerIdDocumento" xmlns:wscustodia="http://afirmaws/ws/custodia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

  <wsdl:types>

    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://afirmaws/ws/custodia" xmlns:wscustodia="http://afirmaws/ws/custodia" xmlns:xs="http://www.w3.org/2001/XMLSchema">


	<!-- Definicion Elementos Simples -->


	      <xs:simpleType name="CadenaSinEspacios">


		        <xs:restriction base="xs:string">


			          <xs:whiteSpace value="collapse"/>


		        </xs:restriction>


	      </xs:simpleType>


	      <xs:group name="IdAplicacion">


		        <xs:sequence>


			          <xs:element name="idAplicacion" type="xs:string"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="IdTransaccion">


		        <xs:sequence>


			          <xs:element minOccurs="0" name="idTransaccion" type="xs:string"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="IdDocumento">


		        <xs:sequence>


			          <xs:element name="idDocumento" type="xs:string"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="Referencia">


		        <xs:choice>


			          <xs:element name="referencia" type="xs:string"/>


			          <xs:element name="idReferencia" type="xs:string"/>


		        </xs:choice>


	      </xs:group>


	      <xs:group name="Documento">


		        <xs:sequence>


			          <xs:element name="documento" type="xs:base64Binary"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="BloqueFirmas">


		        <xs:sequence>


			          <xs:element name="bloqueFirmas" type="xs:base64Binary"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="FirmaElectronica">


		        <xs:sequence>


			          <xs:element name="firmaElectronica" type="xs:base64Binary"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="FormatoFirma">


		        <xs:sequence>


			          <xs:element name="formatoFirma">


				            <xs:simpleType>


					              <xs:restriction base="xs:string">


						                <xs:enumeration value="CMS"/>


						                <xs:enumeration value="CMS-T"/>


						                <xs:enumeration value="CADES-BES"/>


						                <xs:enumeration value="CADES-T"/>


						                <xs:enumeration value="ODF"/>


						                <xs:enumeration value="PDF"/>


						                <xs:enumeration value="PKCS7"/>


						                <xs:enumeration value="XADES-BES"/>


						                <xs:enumeration value="XADES-T"/>


						                <xs:enumeration value="XMLDSIG"/>


					              </xs:restriction>


				            </xs:simpleType>

			
			          </xs:element>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="NombreDocumento">


		        <xs:sequence>


			          <xs:element name="nombreDocumento" type="xs:string"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="TipoDocumento">


		        <xs:sequence>


			          <xs:element name="tipoDocumento" type="xs:string"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="FechaInicial">


		        <xs:sequence>


			          <xs:element name="fechaInicial" type="xs:string"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="FechaFinal">


		        <xs:sequence>


			          <xs:element name="fechaFinal" type="xs:string"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="IdTransacciones">


		        <xs:sequence>


			          <xs:element name="idTransacciones">


				            <xs:complexType>


					              <xs:group maxOccurs="unbounded" minOccurs="0" ref="wscustodia:IdTransaccion"/>


				            </xs:complexType>


			          </xs:element>


		        </xs:sequence>


	      </xs:group>


	      <xs:group name="resultadoGeneral">


		        <xs:sequence>


			          <xs:element name="estado" type="xs:boolean"/>


			          <xs:element minOccurs="0" name="descripcion" type="xs:string"/>


		        </xs:sequence>


	      </xs:group>


	      <xs:element name="Excepcion">


		        <xs:complexType>


			          <xs:sequence>


				            <xs:element name="codigoError" type="xs:string"/>


				            <xs:element name="descripcion" type="xs:string"/>


				            <xs:element minOccurs="0" name="excepcionAsociada" type="xs:string"/>


			          </xs:sequence>


		        </xs:complexType>


	      </xs:element>


	<!-- PETICION  -->


	<!-- Elemento raiz -->


	      <xs:element name="mensajeEntrada">


		        <xs:complexType>


			          <xs:sequence>


				            <xs:element name="peticion">


					              <xs:simpleType>


						                <xs:restriction base="wscustodia:CadenaSinEspacios">


							                  <xs:enumeration value="AlmacenarDocumento"/>


							                  <xs:enumeration value="EliminarContenidoDocumento"/>


							                  <xs:enumeration value="ActualizarReferencia"/>


							                  <xs:enumeration value="ObtenerTransaccionesPorFecha"/>


							                  <xs:enumeration value="ObtenerTransacciones"/>


							                  <xs:enumeration value="ObtenerIdDocumento"/>


							                  <xs:enumeration value="ObtenerFirmaTransaccion"/>


							                  <xs:enumeration value="ObtenerContenidoDocumento"/>


							                  <xs:enumeration value="ObtenerBloqueFirmas"/>


							                  <xs:enumeration value="ObtenerTransaccionesReferencia"/>


							                  <xs:enumeration value="ObtenerContenidoDocumentoId"/>


						                </xs:restriction>


					              </xs:simpleType>


				            </xs:element>


				            <xs:element name="versionMsg" type="xs:string"/>


				            <xs:element name="parametros">


					              <xs:complexType>


						                <xs:sequence>


							                  <xs:group ref="wscustodia:IdAplicacion"/>


							                  <xs:group minOccurs="0" ref="wscustodia:IdTransaccion"/>


							                  <xs:choice minOccurs="0">


								                    <xs:sequence>


									                      <xs:group ref="wscustodia:Documento"/>


									                      <xs:group ref="wscustodia:NombreDocumento"/>


									                      <xs:group ref="wscustodia:TipoDocumento"/>


								                    </xs:sequence>


								                    <xs:sequence>


									                      <xs:group ref="wscustodia:IdDocumento"/>


								                    </xs:sequence>


								                    <xs:sequence>


									                      <xs:group ref="wscustodia:Referencia"/>


								                    </xs:sequence>


								                    <xs:sequence>


									                      <xs:group ref="wscustodia:FechaInicial"/>


									                      <xs:group ref="wscustodia:FechaFinal"/>


								                    </xs:sequence>


							                  </xs:choice>


						                </xs:sequence>


					              </xs:complexType>


				            </xs:element>


			          </xs:sequence>


		        </xs:complexType>


	      </xs:element>


	<!-- RESULTADO  -->


	<!-- Elemento raiz -->


	      <xs:element name="mensajeSalida">


		        <xs:complexType>


			          <xs:sequence>


				            <xs:element name="peticion">


					              <xs:simpleType>


						                <xs:restriction base="wscustodia:CadenaSinEspacios">


							                  <xs:enumeration value="AlmacenarDocumento"/>


							                  <xs:enumeration value="EliminarContenidoDocumento"/>


							                  <xs:enumeration value="ActualizarReferencia"/>


							                  <xs:enumeration value="ObtenerTransaccionesPorFecha"/>


							                  <xs:enumeration value="ObtenerTransacciones"/>


							                  <xs:enumeration value="ObtenerIdDocumento"/>


							                  <xs:enumeration value="ObtenerFirmaTransaccion"/>


							                  <xs:enumeration value="ObtenerContenidoDocumento"/>


							                  <xs:enumeration value="ObtenerBloqueFirmas"/>


							                  <xs:enumeration value="ObtenerTransaccionesReferencia"/>


							                  <xs:enumeration value="ObtenerContenidoDocumentoId"/>


						                </xs:restriction>


					              </xs:simpleType>


				            </xs:element>


				            <xs:element name="versionMsg" type="xs:string"/>


				            <xs:element name="respuesta">


					              <xs:complexType>


						                <xs:choice>


							                  <xs:element name="Respuesta">


								                    <xs:complexType>


									                      <xs:choice>


										                        <xs:sequence>


											                          <xs:group ref="wscustodia:resultadoGeneral"/>


											                          <xs:choice minOccurs="0">


												                            <xs:sequence>


													                              <xs:group ref="wscustodia:IdTransacciones"/>


												                            </xs:sequence>


												                            <xs:sequence>


													                              <xs:group ref="wscustodia:FirmaElectronica"/>


													                              <xs:group ref="wscustodia:FormatoFirma"/>


												                            </xs:sequence>


												                            <xs:sequence>


													                              <xs:group ref="wscustodia:IdDocumento"/>


												                            </xs:sequence>


												                            <xs:sequence>


													                              <xs:group ref="wscustodia:Documento"/>


												                            </xs:sequence>


												                            <xs:sequence>


													                              <xs:group ref="wscustodia:BloqueFirmas"/>


												                            </xs:sequence>


											                          </xs:choice>


										                        </xs:sequence>


									                      </xs:choice>


								                    </xs:complexType>


							                  </xs:element>


							                  <xs:element ref="wscustodia:Excepcion"/>


						                </xs:choice>


					              </xs:complexType>


				            </xs:element>


			          </xs:sequence>


		        </xs:complexType>


	      </xs:element>


    </xs:schema>

  </wsdl:types>


    <wsdl:message name="ObtenerIdDocumentoResponse">


        <wsdl:part name="ObtenerIdDocumentoReturn" type="xsd:string">


        </wsdl:part>


    </wsdl:message>


    <wsdl:message name="ObtenerIdDocumentoRequest">


        <wsdl:part name="in0" type="xsd:string">


        </wsdl:part>


    </wsdl:message>


    <wsdl:portType name="Custodia">


        <wsdl:operation name="ObtenerIdDocumento" parameterOrder="in0">


            <wsdl:input message="impl:ObtenerIdDocumentoRequest" name="ObtenerIdDocumentoRequest">


          </wsdl:input>


            <wsdl:output message="impl:ObtenerIdDocumentoResponse" name="ObtenerIdDocumentoResponse">


          </wsdl:output>


        </wsdl:operation>


    </wsdl:portType>


    <wsdl:binding name="ObtenerIdDocumentoSoapBinding" type="impl:Custodia">


        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>


        <wsdl:operation name="ObtenerIdDocumento">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="ObtenerIdDocumentoRequest">


                <wsdlsoap:body namespace="http://afirmaws/services/ObtenerIdDocumento" use="literal"/>


            </wsdl:input>


            <wsdl:output name="ObtenerIdDocumentoResponse">


                <wsdlsoap:body namespace="http://afirmaws/services/ObtenerIdDocumento" use="literal"/>


            </wsdl:output>


        </wsdl:operation>


    </wsdl:binding>


    <wsdl:service name="CustodiaService">


        <wsdl:port binding="impl:ObtenerIdDocumentoSoapBinding" name="ObtenerIdDocumento">


            <wsdlsoap:address location="http://afirma.redsara.es/afirmaws/services/ObtenerIdDocumento"/>


        </wsdl:port>


    </wsdl:service>


</wsdl:definitions>
